{%extends "base.html"%}

{% block content%}
<form method="POST">
<table>
    <tr>
    <td><label for="title">Title: </label></td>
    <td><input type="text" name="title" value="{{title}}"/>{{title_error}}
    </tr>
    <tr>
    <td><label for="body">Enter some text: </label></td>
    <td><textarea name="body" rows="5" cols="20" value="{{post}}">{{post}}</textarea>{{body_error}}<br></td>
    </tr>
    <tr>
    <td><input type="submit" value="Submit"></td>
    </tr>
</table>
</form>
{% endblock %}
